Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CMakeFiles/
libFGL.so*
FGL*.dll
FGL*.lib
libFGL.a*
0*
examples/01_basic_sysinfo
examples/01_basic_sysinfo.c
examples/01_basic_window
examples/01_basic_window.exe
examples/02_basic_keyboard
examples/02_basic_keyboard.exe
examples/03_basic_mouse
examples/03_basic_mouse.exe
examples/04_basic_shapes
examples/04_basic_shapes.exe
examples/05_basic_sprites
examples/05_basic_sprites.exe
examples/06_basic_text
examples/06_basic_text.exe
src/*.o
src/*.so
src/*.lo
src/*.a
